* {
  margin: 0px;
  padding: 0px;
}

.custom-container {
  background-color: rgb(172, 203, 225);
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-container {
  width: 35%;
  background-color: white;
  border-radius: 10px;
}

.todo-header {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-input {
  text-align: center;
}