* {
  margin: 0px;
  padding: 0px;
}

.custom-container {
  background-color: #F5F7FA;
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-container {
  width: 35%;
  background-color: white;
  border-radius: 10px;
}

.todo-header {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-input {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.my {
  font-weight: bold;
  color: teal;
}

.tasks {
  font-weight: bold;
  color: orange;
}

.list {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}

ul {
  font-size: 20px;
}

.delete-btn  {
  float: right;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}